<div class="container" ng-controller="NewRequestCtrl as newRequestCtrl">
  <div class="row">
    <div class="col-sm-12">
      <h1>Create a new request</h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="newRequestCtrl.new(form)" novalidate>

        <div class="form-group">
          <label>Name</label>

          <input type="text" name="name" class="form-control" ng-model="newRequestCtrl.request.name" required>
        </div>

        <div class="form-group">
          <label>Description</label>

          <textarea type="text" name="description" class="form-control" ng-model="newRequestCtrl.request.description" required></textarea>
        </div>

        <div class="form-group has-error">
          <p class="help-block" ng-show="form.name.$error.required && newRequestCtrl.submitted">
            Please enter a name and description.
          </p>
          <p class="help-block" ng-show="form.description.$error.required && newRequestCtrl.submitted">
            Please enter a valid email.
          </p>

          <p class="help-block">{{ newRequestCtrl.errors.other }}</p>
        </div>

        <div>
          <button class="btn btn-inverse btn-lg btn-success" type="submit">
            Create
          </button>
          <a class="btn btn-default btn-lg btn-danger" ui-sref="main">
            Cancel
          </a>
        </div>

      </form>
    </div>
  </div>
  <hr>
</div>
